* {
  margin: 0px;
}

body {
  background: url("https://images.prismic.io/rluijtenant/e68e600b-ff64-4cc7-919e-c960062d7b88_chamonix-4.jpg?auto=compress,format&fit=clip&auto=compress&w=1293.8646160284577&h=862.6666666666666&dpr=2");
  background-size: 1920px;

}

#cardd {
  position: relative;
  width: 320px;
  height: 400px;
  background-color: #edf2f4;
  /*margin-left:50%;*/

  align-content: center;
  margin: 10px auto;

}

.pp {
  width: 120px;
  border-radius: 70px;
  margin-left: 30%;
  margin-top: -20%;
  border: solid 3px #edf2f4;
}

h3 {
  margin-top: 15px;
  font-family: century-gothic, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

h5 {
  margin-top: 15px;
  color: gray;
  font-family: komet, sans-serif;
  font-weight: 100;
  font-style: normal;
  text-align: center;
}

#icons {
  margin-top: 30%;
  margin-left: 17%;
}

.icon {
  margin-top: 20px;
  margin: 10px;
  width: 30px;
}

.twitter {
  transition: 1s;
  fill: #000000;
}

.twitter:hover {
  transition: 1s;
  fill: #00acee;
}

.in {
  transition: 1s;
  fill: #000000;
}

.in:hover {
  transition: 1s;
  fill: #0e76a8;
}

.website {
  transition: 1s;
  fill: #000000;
}

.website:hover {
  transition: 1s;
  fill: #db4a39;
}

[data-tooltip] {
  position: relative; 
}
[data-tooltip]::after {
  content: attr(data-tooltip); 
  position: absolute;
  width: 50px;
  left: 0; top: 0;
  background: #4a5558;
  border-radius: 10px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)
  pointer-events: none;
  opacity: 0;
  transition: 1s; 
} 
[data-tooltip]:hover::after {
  opacity: 1; 
  top: 2em;
}